{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Snacks</title>
</head>

<body>
    <main>
        <header>
            <h1>Snacks Store</h1>
        </header>
        <nav>
            <a href="{% url 'list_snack' %}">Home</a>
            <a href="{% url 'create_snack' %}">Create A Snack</a>
        </nav>
        <div>
            {% block content %}
            <p>Looks like somebody forgot to define this block in child template</p>
            {% endblock content %}
        </div>
        <footer></footer>
    </main>
</body>

</html>